In [1]:
print('Hello Nurullah')

Hello Nurullah

In [1]:
birth_year = input("Birth year: ")
age = 2021 - int(birth_year)
print(age)

Birth year: 1986
35

In [1]:
a=6

In [2]:
a==7

False

In [3]:
a==6

True

In [2]:
i=5

In [3]:
i>6

False

In [7]:
i

5

In [8]:
i<6

True

In [9]:
i!=6

True

In [10]:
5!=5

False

In [11]:
A=['1','2','3']
for a in A:
    print(2*a)

11
22
33

In [12]:
x=5
while(x!=2):
    print(x)
    x=x-1

5
4
3

In [16]:
for i, x in enumerate (['A','B','C']):
    print(i+1,x)

1 A
2 B
3 C

In [15]:
for i in range(1,5):
    if (i!=2):
        print(i)

1
3
4

In [2]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2

In [3]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2